body {
  
 background-image: linear-gradient(to right, yellow, rgb(255, 115, 0)); 
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
  margin: 0;
  
}

#fruit {
  width: 150%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2); 
  border: none;
  border-radius: 5px; 
  border-bottom: 2px solid orangered;
}

.suggestions {
  position: relative;
}

.suggestions ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%; 
  left: 0;
  z-index: 1; 
  background-color: rgba(255, 255, 255, 0.1);
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.suggestions ul li {
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s; 

  &:hover {
    background-color: orangered; 
  }
}

